.logo-wrapper {
    display: flex;
}

.site-layout .site-layout-background {
    background: #fff;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        height: 90px;
        margin: 20px auto;
        pointer-events: none;
        animation: App-logo-spin infinite 15s linear;
    }

    .logo-collapsed {
        height: 60px;
        margin: 15px auto;
        pointer-events: none;
        animation: none;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
